.overlay {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.8);
  z-index:1002
}

#item-editor td {
  display:inline-block;
  text-align:left;
}

.tier-editor {
  position:fixed;
  right:50%;
  top:50%;
  width:50%;
  transform: translate(50%, -50%); 
  background-color:#4a4a5c; 
  border-radius: 15px;
  padding:15px; 
  text-align:center;
  z-index:1003;
  font-family:Minecraftia;
}

.tier-editor-close-button {
  position:absolute; top:-20px; right:0px; font-family:Minecraftia; padding: 6px 15px 9px 15px; cursor:pointer; border-radius:5px;
  user-select:none;
}

.tier-editor-close-button:hover {
  background-color: rgba(255,255,255,0.5);
}

.button-editor-delete-button {
  position:absolute; 
  top:-20px; 
  left:0px; 
  font-family:Minecraftia; 
  padding: 6px 11px; 
  cursor:pointer; 
  border-radius:5px;
  user-select:none;
}

.button-editor-delete-button:hover {
  background-color: rgba(255,255,255,0.5);
}

.colorpicker {
  background-color: white;
  position: absolute;
  border: 2px solid black;
  border-radius: 6px;
  color: black;
  font-size: 8pt;
  user-select: none;
  padding:2px;
}

.colorpicker table {
  border-spacing: 0px;
}

.colorpicker table td {
  width: 20px;
  height: 20px;
  padding: 0;
}

.colorpicker table td:hover {
  background-color: rgb(219,219,219);
}

.colorpicker color {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  display: inline-block;
}

.minibutton {
  height:18px;
  image-rendering:pixelated;
}

.minibutton:hover {
  filter: brightness(150%);
}

.minibuttontext {
  width:24px;
  height:24px;
  border-radius:5px;
}

.minibuttontext:hover {
  /*color:black;*/
  background-color: #888799;
}

.app-inner-inner {
  background-color: #5f5e70;
  padding: 5px;
  border-radius: 10px;
}

.generate-button {
  background-color: #82f782;
  color: black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.gb-blue {
  background-color: #82c1f7;
}

.generate-button:hover {
  background-color: #cdcbce;
}

.app-inner {
  background-color: #4b4a5c;
  padding: 15px;
  border-radius: 10px;
}

.app-main {
  margin: auto;
  background-color: #2d2a3b;
  border-radius: 10px;
  padding: 15px;
  border-spacing: 15px 4px;
}

.textarea {
  width: 40vw;
  height: 30vh;
  background-color: unset;
  color: white;
  border: none;
  resize: none;
}

.ta2 {
  width: 30vw;
  background-color: unset;
  color: white;
  border-radius: 10px;
  border: none;
  resize: none;
}

.ta2::placeholder {
  color: #dcdcdc;
}

.textarea-container {
  position: relative;
}

.preset {
  color: #82f782;
  text-decoration: underline;
  cursor: pointer;
}

.idlabel {
  text-overflow: clip;
  font-size: 9pt;
  white-space: nowrap;
  /*width:90%;*/
  display: block;
  padding: 5px 3px;
  border-radius: 25px;
}

.idlabel:hover {
  background-color: #ffffff24;
}

.idlabel {
  text-overflow: clip;
}

strike {
  /*text-decoration: unset;*/
  text-shadow: 3px 3px black;
}

special {
  background-color: #7A7991;
  border-radius: 10px;
  padding: 1px 8px;
  user-select: none;
  cursor: pointer;
}

special:hover {
  background-color: #9695AA;
}

input.app-input {
  width: 50px;
  border: 3px solid #4a4a4e;
  border-radius: 100px;
  height: 20px;
  text-indent: 4px;
  font-family: "Minecraftia";
  background-color: #acacc1;
}

@media only screen and (max-width: 1475px) {
  /*Square*/
  /*.main-left {
    display: none;
  }*/
  .main-left {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1000;
  }
  .main-left.visible {
    display: block;
  }
  .leftimg {
    width: 25%;
  }
  .main-right {
    overflow-x: hidden;
  }
  .discordbutton {
    display: table-cell;
  }
  .menu-button2 {
    display: block;
  }
}

.selectlist {
  width: 10vw;
  height: 58vh;
}

#identifiers_list {
  height: calc(100% - 45px);
  overflow-y: scroll;
  text-align: left;
  overflow-x: hidden;
  text-overflow: clip;
  width: 15vw;
}

@media only screen and (max-width: 920px) {
  .id-prefix {
    display: none;
  }
  .presets-desktop {
    width: 11vw;
  }
  .app-main {
    padding: unset;
  }
  .preset {
    font-size: 0.8em;
  }

  .preset-shortenable {
    display: none;
  }

  .idlabel {
    font-size: 0.6em;
  }

  .idlabel input[type="checkbox"] {
    width: 10px;
  }
}

@media only screen and (max-width: 670px) {
  /*Phone portrait*/
  .hidesmall {
    /*display: none;*/
    width: 35%;
  }

  .app-inner tr td {
    display: block;
    width: 100%;
    margin-top: 15px;
  }

  .app-inner {
    border-spacing: 0px;
  }

  .discordbutton {
    display: block;
  }
  body {
    overflow: auto;
  }
  .selectlist {
    width: 100%;
    height: 200px;
  }
  #identifiers_list {
    width: unset;
  }

  .textarea {
    width: 100%;
  }

  .ta2 {
    width: 100%;
  }

  .presets-desktop {
    display: none;
  }

  .idlabel {
    font-size: 12px;
  }

  .idlabel input[type="checkbox"] {
    width: unset;
  }

  .id-prefix {
    display: unset;
  }
}
