.selectlist {
  width:10vw;
  height:58vh;
}

#folderlist {
  height:calc(100% - 45px);
  overflow-y:scroll;
  text-align:left;
  overflow-x:hidden;
  text-overflow:clip;
  width: calc(100% + 10px);
}