.itemgrid td {
  cursor: default;
}

.itemgrid td:hover {
  background-color: #8b8b8b;
  border: 2px solid #cacaca;
  border-top-color: black;
  border-left-color: black;
}

.idlabel:hover {
  background-color: #ffffff24;
}

.idlabel.selected {
  border: 1px solid white;
}