.itemgrid td {
  height: 15px;
  width: 15px; 
  background-color: #8b8b8b;
  border:1px solid #cacaca;
  border-top-color: black;
  border-left-color: black;
  cursor: default;
  background-repeat: no-repeat;
  background-size: contain;
  display:inline-block;
}

.itemgrid td:hover {
  background-color: #8b8b8b;
}

.itemgrid td.selected {
  background-color: rgb(214,214,214);
}

.itemgrid td.selected:hover {
  /*background-color: #777777;*/
}

.itemgrid {
  border-collapse: separate;
  border-spacing: 0px;
  user-select: none;
}

.itemgrid.large td {
  height: 25px;
  width:25px;
  border:2px solid #cacaca;
  border-top-color: black;
  border-left-color: black;
}

  .app-inner-inner {
    background-color: #5f5e70;
    padding: 5px;
    border-radius: 10px;
  }
  
  .app-inner {
    background-color: #4b4a5c;
    padding: 15px;
    border-radius: 10px;
    
  }
  
  .app-main {
    margin:auto;
    background-color: #2d2a3b;
    border-radius: 10px;
    padding:15px;
    border-spacing:15px 4px;
  }
  
  .textarea {
    width:40vw; height: 30vh;background-color: unset;color: white; border: none;resize:none;
  }
  
  .ta2 {
    width:30vw; background-color: unset; color: white; border-radius:10px; border: none; resize:none;
  }
  
  .ta2::placeholder {
    color:#dcdcdc;
  }
  
  .textarea-container {
    position: relative;
  }
  
  .preset {
    color: #82f782;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .idlabel {
    text-overflow: clip;
    font-size:9pt;
    white-space:nowrap;
    /*width:90%;*/
    display:block;
    padding: 5px 3px;
    border-radius:25px;
  }
  
  .idlabel:hover {
    background-color:#ffffff24;
  }

.idlabel {
  text-overflow:clip;
}

input.app-input {
    width: 50px;
    border: 3px solid #4a4a4e;
    border-radius: 100px;
    height: 20px;
    text-indent: 4px;
    font-family: 'Minecraftia';
    background-color: #acacc1;
}

@media only screen and (max-width: 1475px) {
  /*Square*/
  /*.main-left {
    display: none;
  }*/
  .main-left {
    display:none;
    position:absolute;
    width:100%;
    z-index:1000;
  }
  .main-left.visible {
    display: block;
  }
  .leftimg {
    width:25%;
  }
  .main-right {
    overflow-x: hidden;
  }
  .discordbutton {
    display: table-cell;
  }
    .menu-button2 {
    display:block;
  }
}

.selectlist {
  width:10vw;
  height:58vh;
}

#identifiers_list {
  height:calc(100% - 45px);
  overflow-y:scroll;
  text-align:left;
  overflow-x:hidden;
  text-overflow:clip;
  width:15vw;
}

@media only screen and (max-width: 920px) {
  .id-prefix {
    display:none;
  }
  .presets-desktop {
    width: 11vw;
  }
  .app-main {
    padding:unset;
  }
  .preset {
    font-size: 0.8em;
  }
  
  .preset-shortenable {
    display:none;
  }
  
  .idlabel {
    font-size: 0.6em;
  }
  
  .idlabel input[type=checkbox]{
    width: 10px;
  }
}

@media only screen and (max-width: 670px) {
  /*Phone portrait*/
  .hidesmall {
    /*display: none;*/
    width: 35%;
  }
  
  .app-inner {
    border-spacing: 0px;
  }
  
  .discordbutton {
    display: block;
  }
  body {
    overflow: auto;
  }
  .selectlist {
    width:100%;
    height:200px;
  }
  #identifiers_list {
    width:unset;
  }
  
  .textarea {
    width:100%;
  }
  
  .ta2 {
    width: 100%;
  }
  
  .presets-desktop{
    display:none;
  }
  
    .idlabel {
    font-size: 12px;
  }
  
  .idlabel input[type=checkbox]{
    width: unset;
  }
  
  .id-prefix {
    display:unset;
  }
}