.world-edit-button {
  width: 231px;
  border-radius: unset;
}

.preset {
  color: #82f782;
  text-decoration: underline;
  cursor: pointer;
}
  
.idlabel {
  text-overflow: clip;
  font-size:9pt;
  white-space:nowrap;
  /*width:90%;*/
  display:block;
  padding: 2px 3px;
  border-radius:25px;
  text-overflow:clip;
  cursor:pointer;
  border: 1px solid transparent;
}

.idlabel2 {
  text-overflow: clip;
  font-size:9pt;
  white-space:nowrap;
  display:inline-block;
  padding: 2px 3px;
  border-radius:25px;
  text-overflow:clip;
  cursor:pointer;
  border: 1px solid transparent;
  background-color:#ffffff24;
}

.idlabel:hover {
  background-color:#ffffff24;
}

.idlabel.selected {
  border: 1px solid white;
}

.idlabel:after {
  padding: 2px 4px; 
  font-size: 10px; 
  border-radius: 6px;
  color:white;
  margin-left:5px;
}

.idlabel.bp:after {
  content: 'BP';
  background-color:#ff5252;
}

.idlabel.rp:after {
  content: 'RP';
  background-color:#0073ff;
}

.worldsettings-inner {
  column-count: 2;
  column-gap: 0px;
}

.gamerules-inner {
  column-count: 3;
  column-gap: 0px;
}

.gamerule-container span {
  display: inline-block;
}

.remove-from-world-data {
  border-radius: 10px 0px 0px 10px;
  width: unset;
}

.upload-pack {
  border-radius: 0px 10px 10px 0px;
  display:inline-block;
  padding: 5px 20px;
}

.mobilewarning {
  display: none;
}

@media only screen and (max-width: 920px) {  
  .worldsettings-inner {
    column-count: unset;
    column-gap: unset;
  }

  .gamerules-inner {
    column-count: unset;
    column-gap: unset;
  }
  
  .worldsettings-inner .idlabel2 {
    border-radius: 10px;
    white-space: unset;
  }
  
  .mobilewarning {
    display: block;
  }
}

@media only screen and (max-width: 670px) {
  /*Phone portrait*/  
  .remove-from-world-data {
    display: block;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    padding: 0;
  }
  
  .upload-pack {
    display: block;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    padding: 5px 0px;
  }
}