.selectlist {
  width: 10vw;
  height: 30vh;
}

.identifiers_list {
  height: calc(100% - 45px);
  overflow-y: scroll;
  text-align: left;
  overflow-x: hidden;
  text-overflow: clip;
  max-width: 15vw;
}

label {
  white-space: nowrap;
}

@media only screen and (max-width: 800px) {
  /* Small square */
  .selectlist {
    width: unset;
  }
  
  .identifiers_list {
    max-width: 180px;
  }
}

@media only screen and (max-width: 560px) {
  /* Phone portrait */
  .identifiers_list {
    max-width: unset;
  }
  
  .selectlist {
    height: unset;
  }
}