@media only screen and (max-width: 800px) {
  /*Square*/
  .main-left {
    display:none;
    position:unset;
    width:inherit;
    z-index:unset;
  }
}

@media only screen and (max-height: 680px) {
  /*Phone Landscape*/
  .main-left {
    display: none;
  }
}

button {
  width: 100%;
  padding: 18px 0px;
}

button:hover {
  color: black;
  background-color: #dad9dc;
}

.discord-button {
  background-color: #5865F2;
}

.discord-button:hover {
  background-color: #8f98ff;
}