.header {
  width: 100%;
  height: 40px;
  position:absolute;
  top:0;
  background-color: #2b2b3a;
  text-indent: 10px;
  vertical-align: 10px;
  display: table-cell;
  z-index: 1003;
}

.main-content {
  /*height: calc(100% - 40px);*/
  position: absolute;
  top: 40px;
  width: 100%;
  background-color: #2e3148;
  display: table-row;
}

.main-left {
  background-color: #4a4a5c;
  text-align: center;
  display: table-cell;
  vertical-align: top;
  min-width: 400px;
  user-select: none;
}

.left-inner {
  min-width: 400px;
  margin-top: 15px;
}

.main-right {
  background-color: #2e3148;
  width: 100%;
  font-family: 'Minecraftia';
  text-align: center;
  display: table-cell;
  vertical-align: top;
  padding: 0px 18px;
}

body {
  margin: 0px;
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  color:white;
  /*overflow: hidden;*/
  background-color: #2e3148;
  height: 100%;
  display: table;
}

details {
  outline:none;
}

details:focus {
  outline:none;
}

html {
  width: 100%;
  min-height: 100%;
}

a[href] {
  background-color: rgba(255,255,255,0.3);
  padding: 0px 4px;
  border-radius: 5px;
  color: #82f782;
}

.smalltag {padding: 2px 4px; font-size: 10px; border-radius: 6px;}

.imgicon { 
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  width: 25px;
  height: 25px;
  image-rendering: pixelated;
  cursor: pointer;
}

.generate-button {
  background-color: #82f782;
  color:black;
  padding: 5px;
  border-radius: 10px;
  cursor:pointer;
}

.gb-blue {
  background-color:#82c1f7;
}

.gb-red {
  background-color:#f78282;
}

.gb-orange {
  background-color:#ef933c;
}

.gb-purple {
  background-color: #d174e5;
}

.gb-gray {
  background-color: #cdcbce;
}

.generate-button:hover {
  background-color: #cdcbce;
}

.imgicontext { 
  position: relative;
  left: 10px;
  font-family: 'Minecraftia';
  top: 3px;
  cursor:pointer;
}

.devviewstable {
  position: relative;
  /*margin-left: 25px;*/
  font-family: 'Minecraftia';
  top: 3px;
  padding: 8px 16px;
  cursor: pointer;
}

.devviewstable:hover {
  background-color: #dad9dc;
  color: black;
}

.lefttitle {
  font-family: 'Minecraftia';
  font-weight: normal;
}

button {
  background-color: #1a1c2c;
  color: #dad9dc;
  font-size: 15pt;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: 'Minecraftia';
  font-size: medium;
  width: 100%;
  padding: 10px 0px;
}

button:hover {
  color: black;
  background-color: #dad9dc;
}

.discord-button {
  background-color: #5865F2;
}

.discord-button:hover {
  background-color: #8f98ff;
}

.table {
  border-collapse: separate; border-spacing: 15px; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;
}

.table tr td {
  padding: 10px;
  width: 20%;
  background-color: #1a1c2c;
  cursor: pointer;
  text-align: center;
  font-family: Minecraftia;
  font-size: small;
}
.table tr td:hover {
  background-color: #e6e6e6;
  color: black;
}

.svgicon {
  width: 70%;
}

.hidesmall {
  display: inline;
}

.discordbutton {
  background-color: #1a1c2c;
  color: #dad9dc;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15pt;
  cursor: pointer;
  border: none;
  outline: none;
  margin-bottom: 25px;
  display: none;
}

#menu-button {
  background-color: #2a2b3f;
  width: 35px;
  padding: 12px 5px;
  position: absolute;
  top: 60px;
  right: 20px;
  z-index: 2;
}

#menu-button:hover {
  background-color: #dad9dc;
}

#menu-button:hover .menu-button-dot {
    background-color: #2a2b3f;
}

.menu-button-dot {
    width: 4px;
    height: 4px;
    background-color: #9b9dab;
    margin: 3px 16px;
}

.menu-button2 {
  background-color: #4a4a5c;
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 60px;
  z-index: 1001;
  border-radius: 0px 15px 15px 0px;
  
}

.leftimg {
  width: 30%;
}

@media only screen and (max-width: 800px) {
  /*Square*/
  .main-left {
    display:none;
    position:absolute;
    width:100%;
    z-index:1000;
  }
  .main-left.visible {
    display: block;
  }
  .leftimg {
    width:25%;
  }
  .lefttitle {
    font-size:1.2em;
  }
  .discordbutton {
    display: table-cell;
  }
  .menu-button2 {
    display:block;
  }
}

@media only screen and (max-height: 680px) {
  /*Phone Landscape*/
  .main-left {
    display: none;
  }
  .main-left.visible {
    display: block;
  }
  .discordbutton {
    display: table-cell;
  }
  .hidesmall {
    width: 10%;
    height: unset;
  }
  
  .break {
    display: none;
  }
  
  .tdtitle {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
  }
  body {
    overflow-y: visible;
  }
    .menu-button2 {
    display:none;
  }
}

@media only screen and (max-width: 560px) {
  /*Phone portrait*/
  .hidesmall {
    /*display: none;*/
    width: 35%;
  }
  
  .table tr td {
    display:block;
    width: 100%;
    margin-top: 15px;
  }
  
  .table {
    border-spacing: 0px;
  }
  
  .discordbutton {
    display: block;
  }
    body {
    overflow: auto;
  }
  
  .main-left {
    display:none;
    position:absolute;
    width:100%;
    z-index:1000;
    height:100%;
  }
  
  .main-left.visible {
    display: block;
  }
  
  .menu-button2 {
    display:block;
  }
}

@media only screen and (max-width: 1475px) {
  .main-right {
    overflow-x: hidden;
    padding: 0;
    display: block;
  }
}

.main-left-select {
  list-style-type: none;
  padding-left: 0;
  overflow: overlay;
  margin-bottom: 0;
}



.svgiconlist {
  height:30px;
}

.main-left-select li {
  text-align: left;
  padding: 7px 10px;
  color: #dad9dc;
  background-color: #1a1a2c;
  position: relative;
  cursor: pointer;
  font-family: 'Minecraftia';
  font-size: 10pt;
  min-height: 30px;
}

.main-left-select li:hover {
  background-color: #dad9dc;
  color: #1a1a2c;
}

.main-left-select li.selected {
  background-color: #82f782;
  color: #1a1a2c;
}

/*.main-left-select li.selected:hover {
  background-color: #1a1a2c;
  color: #dad9dc;
}*/

.main-left-select li span {
  line-height: 15px;
  list-style-type: square;
  margin-top: 10px;
  position:absolute;
  text-indent: 15px;
}

h1 {
  font-family: MinecraftTen;
  font-weight: normal;
  font-size: 3em;
  filter: drop-shadow(-2px -2px 6px black) drop-shadow(2px 4px 6px black);
}

@font-face {
  font-family: MinecraftTen;
  src: url(https://cdn.glitch.global/17ff8eee-9239-4ba0-8a5c-9263261550b5/MinecraftTen.woff?v=1650256421035);
}

@font-face {
  font-family: MinecraftSeven;
  src: url(https://cdn.glitch.global/17ff8eee-9239-4ba0-8a5c-9263261550b5/MinecraftSeven.woff?v=1650256421129);
}

@font-face {
  font-family: MinecraftFive;
  src: url(https://cdn.glitch.global/17ff8eee-9239-4ba0-8a5c-9263261550b5/MinecraftFive-Bold.woff);
}

@font-face {
  font-family: Minecraftia;
  src: url(https://cdn.glitch.global/17ff8eee-9239-4ba0-8a5c-9263261550b5/minecraftia.ttf?v=1654807722958);
}