.dialogue-button {
  border: 2px solid black;
  background-color: #c6c6c6;
  position: relative;
  padding: 2px 6px;
  color: black;
  cursor: pointer;
  margin-top: -1px;
  width: 33%;
  min-width: 180px;
}

.dialogue-button:after {
  content: " ";
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  border: 2px solid #616161;
  border-color: #f7f7f7 #616161 #616161 #f7f7f7;
}

.dialogue-button:hover {
  background-color: #208306;
  border-color: white;
  color: white;
}

.dialogue-button:hover:after {
  border-color: #2fbb22 #005000 #005000 #2fbb22;
}

.dialogue-button[disabled] {
  visibility: hidden; /* experimental */
  background-color: #d64847;
  /*border-color: black;*/
}
.dialogue-button[disabled]:after {
  border-color: #e66968 #571c1e #571c1e #e66968;
}

textarea {
  resize: none;
}

.button-table tr {
  height: 36px;
}

.app-inner details {
  text-align: left;
}

.app-inner details summary {
  cursor: pointer;
}

.import-button { border-radius: 10px 10px 0px 0px; display: block; }
.export-button { border-radius: 0px 0px 10px 10px; }

.embedded-frame .import-button { display: none; }
.embedded-frame .export-button { border-radius: 10px; }

@media only screen and (max-width: 1475px) {
  /*Square*/
  .leftimg {
    width: 25%;
  }
  .main-right {
    overflow-x: hidden;
  }
}

.selectlist {
  width: 10vw;
  height: 58vh;
}

#identifiers_list {
  height: calc(100% - 45px);
  overflow-y: scroll;
  text-align: left;
  overflow-x: hidden;
  text-overflow: clip;
  width: 15vw;
}

@media only screen and (max-width: 920px) {
  .id-prefix {
    display: none;
  }
  .presets-desktop {
    width: 11vw;
  }
  .dialogue-button {
    font-size: 8pt;
  }

  .idlabel {
    font-size: 0.6em;
  }

  .idlabel input[type="checkbox"] {
    width: 10px;
  }
}

@media only screen and (max-width: 670px) {
  /*Phone portrait*/
  .hidesmall {
    /*display: none;*/
    width: 35%;
  }

  .app-inner tr td {
    display: block;
    width: 100%;
    margin-left: -8px;
    height: 25px;
    /*margin-top: 15px;*/
  }

  .app-main {
    width: 85vw;
  }

  .app-inner {
    border-spacing: 0px;
  }
  body {
    overflow: auto;
  }
  .selectlist {
    width: 100%;
    height: 200px;
  }
  #identifiers_list {
    width: unset;
  }

  .textarea {
    width: 100%;
  }

  .ta2 {
    width: 100%;
  }

  .presets-desktop {
    display: none;
  }

  .idlabel {
    font-size: 12px;
  }

  .idlabel input[type="checkbox"] {
    width: unset;
  }

  .id-prefix {
    display: unset;
  }

  .dialogue-button {
    font-size: unset;
  }
  
  .tier-editor {
    width: 90%;
  }
}