.layers-list {
  height: 40vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.layers-list div {
  text-align: left;
  margin-bottom: 2px;
  max-height: 55px;
}

.layers-list div mcitem {
  vertical-align: middle; 
}