.minibutton { height:18px;image-rendering:pixelated;cursor:pointer; }

.minibutton.black { filter: brightness(0); }

.minibutton:hover {
  filter: brightness(150%) drop-shadow(2px 4px 6px black);
}

.minibutton.black:hover { filter: brightness(0.8) drop-shadow(2px 4px 6px black); }

.overlay {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.8);
  z-index:1002
}

#item-editor td {
  display:inline-block;
  text-align:left;
}

.tier-editor {
  position:fixed;
  right:50%;
  top:50%;
  width:50%;
  height:25%;
  min-height:230px;
  transform: translate(50%, -50%); 
  background-color:#4a4a5c; 
  border-radius: 15px;
  padding:15px; 
  text-align:center;
  z-index:1003;
  font-family:Minecraftia;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

#item-editor {
  height: unset;
}

.tier-editor-close-button {
  position:absolute; top:-20px; right:0px; font-family:Minecraftia; padding: 6px 15px 9px 15px; cursor:pointer; border-radius:5px;
  user-select:none;
}

.tier-editor-close-button:hover {
  background-color: rgba(255,255,255,0.5);
}

.trade {
  border-radius:5px;
  background-color: #1a1a2c;
  color: white;
  cursor:pointer;
  vertical-align:middle;
  font-size: 20pt;
  letter-spacing: -6px;
  position:relative;
  padding:3px 8px;
  margin-bottom:2px;
  width:185px;
  /*width: 250px;*/
  margin-left:14px;
}

.trade .tiereditor2 { display: none; width: 70px; margin-bottom: 5px; }

#grouplist.groupview .trade {
  width: 185px;
}

#grouplist.groupview .trade .tiereditor2 {
  display: unset;
}

.trade.selected {
  color: #dad9dc;
  background-color: #5f5e70;
}

.tradeitemcount {
  font-size:10pt;
  letter-spacing:0px;
  margin-left: -18px;
  min-width:20px;
  position:absolute;
  bottom:5px;
  text-align:right;
}

.trade:hover {
  padding:0px 5px;
  border:3px solid #5f5e70;
  /*border:3px solid #1a1a2c;*/
}

.trade.selected:hover {
  padding:0px 5px;
  /*border:3px solid #5f5e70;*/
}

.trade:hover .tradeitemcount {
  bottom:2px;
}

.trade img {
  image-rendering: pixelated;
  width:32px;
  height:32px;
}

#grouplist {
  vertical-align:top;
  min-width: 2vw;
  overflow-y:scroll;
  height:40vh;
}

details {
  width:215px;
}

details summary {
  text-align:left;
}

.app-inner-inner {
  background-color: #5f5e70;
  padding: 5px;
  border-radius: 10px;
}
  
#tradelist-container {
  padding: 5px;
}

.generate-button {
  background-color: #82f782;
  color:black;
  padding: 5px;
  border-radius: 10px;
  cursor:pointer;
}

.gb-blue {
  background-color:#82c1f7;
}
  
  .generate-button:hover {
    background-color: #cdcbce;
  }
  
  .app-inner {
    background-color: #4b4a5c;
    padding: 15px;
    border-radius: 10px;
    
  }
  
  .app-main {
    margin:auto;
    background-color: #2d2a3b;
    border-radius: 10px;
    padding:15px;
    border-spacing:15px 4px;
  }
  
  .textarea {
    width:40vw; height: 30vh;background-color: unset;color: white; border: none;resize:none;
  }
  
  .ta2 {
    width:30vw; background-color: unset; color: white; border-radius:10px; border: none; resize:none;
  }
  
  .ta2::placeholder {
    color:#dcdcdc;
  }
  
  .textarea-container {
    position: relative;
  }
  
  .preset {
    color: #82f782;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .idlabel {
    text-overflow: clip;
    font-size:9pt;
    white-space:nowrap;
    /*width:90%;*/
    display:block;
    padding: 5px 3px;
    border-radius:25px;
  }
  
  .idlabel:hover {
    background-color:#ffffff24;
  }

.idlabel {
  text-overflow:clip;
}

.app-input {
  width: 50px;
  border: 3px solid #4a4a4e;
  border-radius: 15px;
  height: 20px;
  text-indent: 4px;
  font-family: 'Minecraftia';
  background-color: #acacc1;
  resize:none;
}

textarea.app-input {
  text-indent:unset;
  padding: 2px 7px;
}

textarea::-webkit-scrollbar {
    width: 5px;
  cursor: pointer;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: unset;
  cursor: pointer;
}

textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 5px;
  cursor: pointer;
}

#grouplist::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}

#grouplist::-webkit-scrollbar-track {
    -webkit-box-shadow: unset;
  cursor: pointer;
}

#grouplist::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 5px;
  cursor: pointer;
}

.app-input-tiers {
  width: 50px;
  border: 3px solid #40404c;
  border-radius: 15px;
  height: 30px;
  text-align:center;
  font-family: 'Minecraftia';
  background-color: #acadc2;
  color: black;
}

.trade-settings-2 {
  display: none;
}

.app-input-tiers.selected {
    border: 3px solid #1d1d25;
    background-color: #40404c;
  color:white;
}

input[type=text].app-input {
  width:100px;
}

@media only screen and (max-width: 1475px) {
  /*Square*/
  /*.main-left {
    display: none;
  }*/
  .main-left {
    display:none;
    position:absolute;
    width:100%;
    z-index:1000;
  }
  .main-left.visible {
    display: block;
  }
  .leftimg {
    width:25%;
  }
  .main-right {
    overflow-x: hidden;
  }
  .discordbutton {
    display: table-cell;
  }
    .menu-button2 {
    display:block;
  }
}

.selectlist {
  width:10vw;
  height:58vh;
}

#identifiers_list {
  height:calc(100% - 45px);
  overflow-y:scroll;
  text-align:left;
  overflow-x:hidden;
  text-overflow:clip;
  width:15vw;
}

@media only screen and (max-width: 920px) {
  /*#item-editor {
    height: 75%;
  }*/
  
  h1 {
    font-size: 2em;
  }
  
  .id-prefix {
    display:none;
  }
  .presets-desktop {
    width: 11vw;
  }
  .app-main {
    padding:unset;
    font-size: 8pt;
  }
  .preset {
    font-size: 0.8em;
  }
  
  .preset-shortenable {
    display:none;
  }
  
  .idlabel {
    font-size: 0.6em;
  }
  
  .idlabel input[type=checkbox]{
    width: 10px;
  }
  
  input.app-input {
    font-size: 6pt;
    height: 10pt;
    width: 30px;
  }
  
  .minibutton {
    height: 14px;
    margin-right: -2px;
  }
  
  .app-inner {
    padding: 0;
    display: inline-block;
    width: 100%;
  }
  
  .trade-settings-1 {
    display: none;
  }
  
  .trade-settings-2 {
    display: block;
  }
  
  #tradelist-container {
    padding: 0;
  }
}

@media only screen and (max-width: 670px) {
  
  /*Phone portrait*/
  .hidesmall {
    /*display: none;*/
    width: 35%;
  }
  
  .app-inner tr td {
    display:block;
    width: 100%;
    margin-top: 15px;
  }
  
  .app-inner {
    border-spacing: 0px;
  }
  
  .discordbutton {
    display: block;
  }
  body {
    overflow: auto;
  }
  .selectlist {
    width:100%;
    height:200px;
  }
  #identifiers_list {
    width:unset;
  }
  
  .textarea {
    width:100%;
  }
  
  .ta2 {
    width: 100%;
  }
  
  .presets-desktop{
    display:none;
  }
  
    .idlabel {
    font-size: 12px;
  }
  
  .idlabel input[type=checkbox]{
    width: unset;
  }
  
  .id-prefix {
    display:unset;
  }
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1005; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.35s, fadeout 0.5s 2.5s;
  animation: fadein 0.35s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}