.app-main {
  width: 100%;
  height: 100%;
}

.main-page {
  text-align: left;
}

.nbt-details .nbt-details {
  padding-left: 15px; 
}

.nbt-value {
  display: block;
}

.nbt-details > .nbt-value {
  padding-left: 32px;
}

.nbt-list {
  margin: 0;
  padding-inline-start: 18px;
  list-style-type: none;
}